@model IEnumerable<Cinema_BD2.Models.Language>

@{
    ViewData["Title"] = "Idiomas";
}

<div class="text-center">
    <h1 class="display-4">
        @(Model?.Count() ?? 0) Idioma(s).
    </h1>

    @if (!Model.Any())
    {
        <h1>Nenhum Idioma cadastrado.</h1>
    }

    <!--
    <form asp-controller="Language" asp-action="Index" method="get" class="d-flex mb-4">
        <input type="text" name="search" class="form-control me-2"
               placeholder="Pesquisar Idioma pelo nome..." />

        <button type="submit" class="btn btn-primary me-2">
            <i class="bi bi-search"></i>
        </button>

        <a asp-controller="Language" asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-x-circle"></i>
        </a>
    </form>
    -->

    <a asp-controller="Language" class="btn btn-primary" asp-action="Create">Novo</a>

    <hr />

    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idioma</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var l in Model)
            {
                <tr>
                    <td>@l.Id</td>
                    <td>@l.Name</td>
                    <td>
                        <a asp-controller="Language" asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@l.Id">
                            Editar
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Language" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@l.Id" />
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este Idioma?');">
                                Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


